/* Responsivo Tablet */
@media only screen and (min-width: 788px) and (max-width: 979px) {

}

/* Responsivo smartphone */
@media only screen and (max-width: 787px) {

    /* Header */
    .header {
        position: relative;
    }

    .header img {
        margin: 0 auto;
    }

    .header_menu {
        text-align: center !important;
        margin: 0;
    }

    .header_menu ul li {
        margin: 0;
    }

    .header_menu ul li a {
        display: block;
        border: 2px solid #000;
        width: 140px;
        float: left;
    }

    .header_menu ul li a:hover {
        border-color: #FFF;
    }
}